<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <p>
    Most awesome region administrator!
  </p>
  <p>
    A new volunteer has requested to join your region.<br>
    Please visit the <%= link_to "unassigned volunteers page", unassigned_volunteers_url %> to assign them!
  </p>
  <p>
    Thanks!
  </p>
  <p>
    *chirp* *beep*
  </p>
  --<br/>
  The Food Link Robot<br/>
  <%= root_url %>
</body>
</html>