<div class="nested_fields volunteer row">
  <div class="col-sm-10">
  <%= f.association :volunteer, :collection => @region.volunteers, :as=>:select, :label=>false, :input_html => {:class => 'form-control select2', :tabindex => '-1'} %>
  <%= f.check_box(:operations_lead) %> Is Operations Lead
  </div>
  <div class="col-sm-2 remove">
    <div class="btn btn-danger glyphicon glyphicon-remove"></div>
  </div>
</div>
