<div class="nested_fields row">
  <div class="col-sm-6"><%= f.association :location, :collection => @region.locations, :as=>:select, :label=>false, :input_html => {class: 'form-control' } %>
    <% unless f.object.location.nil? %>
      (<%= f.object.is_pickup_stop? ? "Donor" : "Recipient" %>)
    <% end %>
  </div>
  <div class="col-sm-2"><%= f.text_field(:position, size:4, class: "form-control") %></div>
  <div class="col-sm-2">
    <button onclick="$(this).parent().parent().remove();" class="btn btn-sm btn-danger">
      <i class="fa fa-remove"></i>
      Remove
    </button>
  </div>
</div>
