<%= month_calendar do |date| %>
  <h5><%= date.day %></h5>

  <% @schedules.each do |s| %>
    <% if s.day_of_week == date.wday %>
      <div style="<%= "background-color: pink" if !s.covered? %>">
        <% if s.functional? %>
          <%= link_to s.donors.first.name, s  %><br>
        <% end %>
      </span>
    <% end %>
  <% end %> 
<% end %>